@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565c66;
  background-color: #feafc3;
  padding: 0;
  margin: 0;
}

.pink-bg {
  background-color: #feafc3;
}

.blue-bg {
  background-color: #69a9ff;
}

.yellow-bg {
  background-color: #fcc850;
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #2D3440;
  background-color: #fcfcfc;
  padding: 12px 32px;
  border-radius: 26px;
  border: none;
  outline: 4px solid #fec7d5;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  cursor: pointer;
  transition: background-color 0.2s, outline 0.2s, color 0.2s;
}

.button:hover {
  background-color: #fec7d5;
  outline: 4px solid #fcfcfc;
  box-shadow: 0 4px 15px rgba(133, 133, 133, 0.15);
}

.button:active {
  background: #fcfcfc;
  outline: 2px solid #2d3440;
}

.button:focus {
  background: #fec7d5;
  outline: 2px solid #2d3440;
}

.button:disabled {
  font-weight: 400;
  color: #b9b9b9;
  background: #e7e7e7;
}

.button:disabled:hover {
  outline: 4px solid #fec7d5;
  cursor: default;
}

.pink-button {
  color: #fcfcfc;
  background-color: #ff2f64;
}

.pink-button:hover {
  color: #2d3440;
  background: rgba(252, 252, 252, 0.3);
  outline: 4px solid #FF2F64;
}

.pink-button:active {
  color: #fcfcfc;
  background: #FEAFC3;
  outline: 2px solid #2D3440;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.pink-button:focus {
  outline: 2px solid #2D3440;
  background-color: #ff2f64;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.pink-button:disabled {
  font-weight: 400;
  color: #565c66;
  background: #b9b9b9;
  outline: 4px solid rgba(185, 185, 185, 0.3);
}

.pink-button:disabled:hover {
  outline: 4px solid rgba(185, 185, 185, 0.3);
}

.page-wrapper {
  width: 1170px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

.logo-link {
  width: 137px;
  height: 56px;
  margin-right: 15px;
}

.logo-link:hover {
  opacity: 0.6;
}

.logo-link:active {
  opacity: 0.3;
}

.logo-link:focus {
  outline: 2px solid #ff4a78;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navigation-list {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 30px;
}

.navigation-link:hover,
.user-menu-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
}

.navigation-link:active,
.user-menu-link:active {
  background-color: #fcfcfc;
}

.navigation-link:focus,
.user-menu-link:focus {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2d3440;
}

.catalog-link {
  padding-right: 38px;
  background: url("../images/arrow.svg") no-repeat right 16px center;
}

.catalog-item {
  position: relative;
}

.catalog-item:hover .submenu-wrapper {
  display: block;
}

.catalog-item:focus-within .submenu-wrapper {
  display: block;
}

/* Submenu */
.submenu-wrapper {
  position: absolute;
  padding-top: 15px;
  display: none;
}

.submenu {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 8px 0;
  margin: 0;
  list-style-type: none;
  min-width: 140px;
  color: #2d3440;
  background: #fcfcfc;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 4px;
}

.submenu-item {
  padding: 6px 16px;
}

.submenu-item:hover {
  cursor: pointer;
  background-color: #ffcbdb;
}

.submenu-item:active {
  background-color: #ff7799;
}

.submenu-link:focus-within {
  outline: 2px solid #ff2f64;
}

.submenu-link {
  display: block;
  color: #2d3440;
  text-decoration: none;
}

.submenu-item-current {
  background-color: #ff4a78;
}

.submenu-item-current:hover {
  background-color: #ff4a78;
  cursor: default;
}

.submenu-link-current {
  color: #fcfcfc;
}

.submenu-link-current:hover {
  cursor: default;
}

.new-items {
  font-weight: 700;
  padding-bottom: 12px;
  position: relative;
}

.new-items::after {
  content: "";
  height: 1px;
  bottom: 0;
  position: absolute;
  background-color: #b9b9b9;
  width: 103px;
}

.navigation-link-current {
  color: #fcfcfc;
  background: url("../images/arrow-white.svg") no-repeat right 16px center;
  background-color: #ff4a78;
}

.navigation-link-current:hover {
  opacity: 0.6;
  background-color: #ff4a78;
}

.navigation-link-current:active {
  opacity: 0.3;
}

.navigation-link-current:focus {
  background-color: #ff4a78;
  outline: 2px solid #000000;
  opacity: 1;
}

.user-menu-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.user-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.user-menu-item {
  position: relative;
}

.phone-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
}

.phone-link:hover {
  opacity: 0.6;
}

.phone-link:active {
  opacity: 0.3;
}

.phone-link:focus {
  outline: 2px solid #ff2f64;
}

.user-menu-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
  text-decoration: none;
  padding: 6px 16px;
}

.user-menu-link-active {
  background-color: #ff4a78;
}

.search-link {
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 27px;
}

.login-link {
  padding-left: 38px;
  background-image: url("../images/log-in.svg");
  background-repeat: no-repeat;
  background-position: left 16px center;
}

.cart-link {
  padding-left: 38px;
  background-image: url("../images/cart.svg");
  background-repeat: no-repeat;
  background-position: left 16px center;
}

.section-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2d3440;
  text-align: center;
  margin: 0;
  padding: 0;
}

.slider {
  margin-bottom: 80px;
}

.slider-product {
  display: flex;
  align-items: center;
}

.hidden-product {
  display: none;
}

.slider-left-column {
  width: 470px;
  padding: 20px 0 0 70px;
}

.slider-product-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  color: #2d3440;
  padding: 0;
  margin: 5px 0 25px 0;
}

.slider-product-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #2d3440;
  padding: 0;
  margin: 0 0 48px 0;
}

.slider-button {
  width: 38px;
  height: 38px;
  color: #fcfcfc;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 50%;
  border: 2px solid #fcfcfc;
  cursor: pointer;
  position: relative;
}

.slider-button:hover {
  color: #2d3440;
  background-color: #fcfcfc;
}

.slider-button:active {
  color: #2d3440;
  background-color: rgba(252, 252, 252, 0.5);
  border-color: transparent;
}

.slider-button:focus {
  color: #2d3440;
  border-color: #2d3440;
  outline: none;
}

.slider-button:disabled {
  opacity: 0.3;
}

.slider-button:disabled:hover {
  color: #fcfcfc;
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #fcfcfc;
  cursor: default;
}

.slider-right-column {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.slider-right-column::before {
  content: "";
  display: block;
  width: 312px;
  height: 312px;
  background-color: rgb(252, 252, 252, 0.4);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-46%);
  z-index: -1;
}

.slider-image {
  padding: 20px 65px 0 20px;
}

.slider-controls {
  width: 350px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 49%;
}

.slider-next {
  transform: rotate(180deg);
}

.slider-arrow {
  position: absolute;
  top: 11px;
  left: 12px;
}

.ice-cream-preview {
  opacity: 0.3;
  padding-top: 25px;
  cursor: pointer;
}

.ice-cream-preview:not(:last-child) {
  margin-right: 39px;
}

.ice-cream-preview::before {
  content: "";
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fcfcfc;
  position: absolute;
  top: 50%;
  transform: translateY(-35%);
  z-index: -1;
}

.slider-pagination-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.slider-pagination {
  padding: 5px 0 0;
  margin: 0;
  display: flex;
  gap: 8px;
  list-style-type: none;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  border: none;
  background-color: rgb(252, 252, 252, 0.3);
  border-radius: 50%;
  cursor: pointer;
}

.slider-pagination-button-current {
  background-color: #fcfcfc;
}

.slider-pagination-button:hover {
  outline: 1px solid #fcfcfc;
  outline-offset: -1px;
}

.slider-pagination-button:active {
  background-color: rgb(252, 252, 252, 0.5);
  outline: none;
}

.slider-pagination-button:focus {
  outline: 1px solid #2d3440;
}

.social-list {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 10px;
  list-style-type: none;
}

.gifts {
  margin-bottom: 80px;
}

.gifts-section-title {
  margin-bottom: 55px;
}

.gift-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.gift-item {
  width: 570px;
  color: #2d3440;
  background-color: #ff7799;
  border-radius: 16px;
  padding: 36px;
  box-sizing: border-box;
}

.raspberry-gift {
  background-image: url("../images/raspberry-present.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.marshmallow-gift {
  background-image: url("../images/marshmallow-present.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.gift-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  padding: 0;
  margin: 0 0 28px 0;
  width: 260px;
}

.gift-description {
  width: 330px;
  padding: 0;
  margin: 0 0 28px 0;
}

.gift-button {
  max-width: 250px;
}

.popular-products {
  margin-bottom: 80px;
}

.popular-products-title {
  margin-bottom: 107px;
}

.product-list {
  display: grid;
  grid-template-columns: 270px 270px 270px 270px;
  gap: 93px 30px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.product-list-item {
  background-color: #fcfcfc;
  border-radius: 8px;
  padding: 133px 40px 24px;
  position: relative;
}

.product-img {
  border-radius: 50%;
  display: block;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  position: absolute;
  top: -50px;
}

.product-list-link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-list-link:focus {
  outline: 2px solid #ff2f64;
}

.product-title {
  margin: 0 0 8px 0;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #2d3440;
}

.product-description {
  margin: 0 0 16px 0;
  padding: 0;
  color: #565c66;
  text-align: center;
}

.product-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
  max-width: 150px;
}

.price-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.add-to-cart-button {
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  background-color: #ff2f64;
  background-image: url("../images/white-cart.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.add-to-cart-button:hover {
  background-image: url("../images/cart.svg");
  background-color: #fcfcfc;
  outline: 2px solid #ff4a78;
  outline-offset: -2px;
}

.add-to-cart-button:active {
  background-color: #ffcbdb;
}

.add-to-cart-button:focus {
  outline: 3px solid #000000;
}

.add-to-cart-button:disabled {
  background-color: #565c66;
  cursor: default;
}

.add-to-cart-button:disabled:hover {
  background-color: #565c66;
  opacity: 1;
}

.about-us-wrapper {
  background-color: #eadfc5;
  background-image: url("../images/pattern.jpg");
  border-radius: 16px;
  margin-bottom: 80px;
}

.about-us {
  padding: 60px 40px;
  margin: 20px;
  display: inline-block;
  background-color: #ffffff;
  border-radius: 16px;
}

.about-us-title {
  margin-bottom: 56px;
}

.about-us-list {
  display: grid;
  grid-template-columns: 505px 505px;
  gap: 40px 35px;
  margin: 0;
  padding: 0 0 0 3px;
  list-style-type: none;
}

.about-us-item {
  width: 442px;
  padding-left: 65px;
  margin: 0;
}

.ice-cream-icon {
  background: url("../images/ice-cream-icon.svg") no-repeat left top;
}

.cow-icon {
  background: url("../images/cow-icon.svg") no-repeat left top;
}

.leaf-icon {
  background: url("../images/leaf-icon.svg") no-repeat left top;
}

.termo-icon {
  background: url("../images/termo-icon.svg") no-repeat left top;
}

.news-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 80px;
}

.news {
  width: 570px;
  color: #2d3440;
  background-color: #fcfcfc;
  background-image: url("../images/news-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  border-radius: 16px;
  padding: 32px;
  box-sizing: border-box;
}

.news-title {
  max-width: 300px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #565c66;
  padding: 0;
  margin: 0 0 12px 0;
}

.news-theme {
  color: #2d3440;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  width: 300px;
  margin: 0;
  padding: 0;
}

.news-link {
  text-decoration: none;
  color: #565c66;
  position: relative;
}

.news-link:hover {
  opacity: 0.6;
}

.news-link:active {
  opacity: 0.3;
}

.news-link:focus {
  outline: none;
}

.news-link:focus::before {
  content: "";
  width: 310px;
  height: 100%;
  border: 2px solid #ff4a78;
  position: absolute;
  left: -5px;
}

.newsletter {
  display: inline-block;
  color: #565c66;
  background-color: #fcfcfc;
  border-radius: 16px;
  padding: 26px;
  margin: 6px;
  box-sizing: border-box;
}

.newsletter-wrapper {
  width: 570px;
  background-color: #1e90ff;
  background-image: url("../images/subscribtion-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.subscribe-text {
  padding: 0;
  margin: 0 0 42px 0;
}

.subscription-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.subscription-field {
  width: 332px;
}

.subscription-submit-button {
  width: 160px;
}

.delivery {
  background-color: #fcfcfc;
  background-image: url("../images/delivery-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 64px;
  margin-bottom: 80px;
}

.delivery-left-column {
  width: 380px;
  margin: 5px 0 0 36px;
}

.delivery-title {
  text-align: left;
  margin-bottom: 24px;
}

.delivery-description {
  padding: 0;
  margin: 0;
}

.delivery-form {
  display: flex;
  flex-direction: column;
  width: 500px;
  background-color: #fcfcfc;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  padding: 40px;
  box-sizing: border-box;
}

.delivery-form-text {
  padding: 0;
  margin: 0 0 32px 0;
}

.delivery-form-label {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  margin-bottom: 8px;
}

.form-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 16px;
  margin-bottom: 32px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.date-field {
  width: 117px;
}

.phone-field {
  width: 287px;
}

.address-field {
  width: 420px;
}

.delivery-form-button {
  width: fit-content;
  align-self: center;
}

/* Формы и состояния форм */

.field {
  box-sizing: border-box;
  padding: 14px 16px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  background: #ffffff;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
}

.field::placeholder {
  color: #b9b9b9;
}

.field:hover {
  border-color: #2d3440;
}

.field:hover::placeholder {
  color: #2d3440;
}

.field:focus {
  outline: 2px solid #2d3440;
}

.field:invalid {
  border-color: #ea5454;
}

.field:invalid:hover {
  outline: 1px solid #ea5454;
}

.field:placeholder-shown {
  border: 1px solid #b9b9b9;
}

.field:placeholder-shown:hover {
  border-color: #2d3440;
  outline: none;
}

.field:disabled {
  background-color: #e7e7e7;
}

.field:disabled:hover {
  border-color: #b9b9b9;
}

.field:disabled::placeholder {
  color: #2d3440;
}

.contacts-wrapper {
  background-color: #ede1e1;
  background-image: url("../images/feedback-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  padding: 64px;
}

.contacts {
  background-color: #fcfcfc;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  width: 343px;
  padding: 40px;
  box-sizing: border-box;
}

.contacts-text {
  margin: 0 0 12px 0;
}

.address {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
  margin-bottom: 24px;
}

.contacts-phone {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
  text-decoration: none;
  display: block;
}

.contacts-phone:hover {
  opacity: 0.6;
}

.contacts-phone:active {
  opacity: 0.3;
}

.contacts-phone:focus {
  outline: 2px solid #ff2f64;
}

.schedule {
  font-size: 14px;
  line-height: 20px;
  color: #565C66;
  margin-bottom: 32px;
  display: block;
}

/* Footer */
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 48px 14px 48px 0;
}

.footer-social-list {
  gap: 15px;
}

.footer-menu {
  padding: 0;
  margin: 0 0 0 100px;
  width: 356px;
  display: grid;
  grid-template-columns: 150px 210px;
  list-style-type: none;
}

.footer-menu-link {
  padding-left: 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
}

.footer-menu-link:hover {
  opacity: 0.6;
}

.footer-menu-link:active {
  opacity: 0.3;
}

.footer-menu-link:focus {
  outline: 2px solid #ff2f64;
}

.heart-link {
  font-weight: 700;
  background: url("../images/heart-icon.svg") no-repeat left center;
}

.html-logo-link:hover {
  opacity: 0.6;
}

.html-logo-link:active {
  opacity: 0.3;
}

.html-logo-link:focus {
  outline: 2px solid #ff2f64;
}

.made-in-html {
  font-size: 12px;
  line-height: 16px;
  padding: 0;
  margin: 10px 0 0;
}

.html-academy-link {
  color: #2d3440;
}

.html-academy-link:hover {
  opacity: 0.6;
}

.html-academy-link:active {
  opacity: 0.3;
}

.html-academy-link:focus {
  outline: 2px solid #ff2f64;
}

.social-link {
  display: block;
  width: 24px;
  height: 24px;
  color: #fcfcfc;
  border: 2px solid #fec7d5;
  border-radius: 50%;
  position: relative;
}

.social-link:hover::after,
.social-link:focus::after {
  content: "";
  position: absolute;
  background-color: #2d3440;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  top: 1px;
  left: 1px;
  z-index: -1;
}

.social-link:active {
  opacity: 0.6;
}

.social-link:focus {
  border: 2px solid #2d3440;
  outline: none;
}

/* Каталог */
.catalog {
  margin-bottom: 80px;
}

.page-header {
  margin-bottom: 32px;
}

.inner-header {
  margin-bottom: 40px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  list-style-type: none;
  padding: 0;
  margin: 0 0 16px 0;
}

.breadcrumbs-link {
  color: #2d3440;
  text-decoration: none;
}

.breadcrumbs-item {
  padding-right: 20px;
}

.breadcrumbs-item:not(:last-child) {
  background: url("../images/breadcrumb-arrows.svg") no-repeat right center;
}

.catalog-type-title {
  text-align: left;
}

.filters {
  display: flex;
  width: 823px;
  margin-bottom: 95px;
}

.catalog-filter-form {
  display: flex;
  flex-wrap: wrap;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  gap: 17px 24px;
}

.catalog-filter-group {
  padding: 0;
  margin: 0;
  border: none;
}

.catalog-filter-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 16px;
  margin: 0;
  padding: 8px 25px;
  background-color: #fec7d5;
  border: none;
  border-radius: 20px;
}

.select-control {
  font-family: inherit;
  font-size: 14px;
  min-width: 196px;
  padding: 8px 16px;
  background-color: #fec7d5;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.filter-title {
  margin: 0 0 8px 15px;
  padding: 0;
}

.filter-button {
  width: 185px;
  height: fit-content;
  align-self: flex-end;
  padding: 8px;
  margin-left: -5px;
}

.range-input {
  background: transparent;
  border: none;
  width: 45px;
  -webkit-appearance: textfield;
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}


/* Range */
.range {
  box-sizing: border-box;
  width: 196px;
  height: 36px;
  padding: 10px 16px;
  border-radius: 20px;
  background-color: #fec7d5;

}

.range-scale {
  position: relative;
  height: 2px;
  background-color: rgb(86, 92, 102, 0.3);
  border-radius: 3px;
  margin-top: 7px;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #565c66;
}

.range-toggle {
  position: absolute;
  width: 16px;
  height: 16px;
  background: #fcfcfc;
  outline: 6px solid #2d3440;
  outline-offset: -6px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle:hover {
  background-color: #2d3440;
  outline: 6px solid #fcfcfc;
}

.range-toggle:active {
  outline: 6px solid #2d3440;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

/* Control */
.control {
  position: relative;
  display: block;
  padding-left: 24px;
  cursor: pointer;
}

/* Mark */
.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1.5px solid #000000;
  border-radius: 50%;
}

.control:hover .control-mark {
  border-color: #fcfcfc;
}

.control-input:disabled + .control-mark {
  opacity: 0.5;
}

.control-input:disabled:hover + .control-mark {
  border: 1.3px solid #000000;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 6px;
  height: 6px;
  background-color: #242424;
  content: "";
  border-radius: 50%;
}

.control-input[type="checkbox"] + .control-mark {
  border-radius: 3px;
}

.control-input[type="checkbox"]:checked + .control-mark {
  border: none;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  content: url("../images/checkbox-checked.svg");
}

.catalog-product-list {
  margin-bottom: 57px;
}

/* Пагинация */
.pagination-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 680px;
  justify-content: space-between;
  margin-left: auto;
}

.pagination {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  list-style-type: none;
  align-items: center;
}

.pagination-link {
  display: flex;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #2d3440;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.pagination-link:hover {
  background-color: #ffcbdb;
}

.pagination-link:active {
  outline: 1px solid #fcfcfc;
  outline-offset: -1px;
}

.pagination-link:focus {
  background-color: #ffcbdb;
  outline: 1px solid #2d3440;
  outline-offset: -1px;
}

.pagination-current {
  cursor: default;
  background-color: #fcfcfc;
}

.pagination-button {
  display: flex;
  align-items: center;
}

.pagination-button-disabled {
  opacity: 0.3;
}

.pagination-prev-link-disabled {
  cursor: default;
}

.pagination-prev-link {
  display: block;
  width: 16px;
  height: 16px;
  background: url("../images/arrow.svg") no-repeat center;
  transform: rotate(90deg);
}

.pagination-next-link {
  display: block;
  width: 16px;
  height: 16px;
  background: url("../images/arrow.svg") no-repeat center;
  transform: rotate(-90deg);
}

/* Popover */
.popover-wrapper {
  position: absolute;
  padding-top: 15px;
  right: 0;
  z-index: 1;
  display: none;
}

.popover {
  box-sizing: border-box;
  width: 440px;
  padding: 48px;
  font-family: inherit;
  color: #2d3440;
  background-color: #fcfcfc;
  min-height: 156px;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 4px;
}

.popover-wrapper:hover {
  display: block;
}

.popover-content {
  height: 100%;
}

.popover-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  padding: 0;
  margin: 0 0 25px 0;
}

/* Поиск по сайту */
.popover-search {
  padding: 24px 16px;
  min-height: 96px;
  width: 354px;
}

.popover-search-wrapper {
  margin-top: 20px;
  padding-top: 20px;
}

.popover-search-open {
  cursor: pointer;
}

.popover-search-field {
  width: 100%;
}

.popover-search-open:hover .popover-search-wrapper {
  display: block;
}

.search-link:focus-within ~ .popover-search-wrapper {
  display: block;
}

/* Личный кабинет */
.popover-auth-open:hover .popover-auth-wrapper {
  display: block;
}

.login-link:focus-within ~ .popover-auth-wrapper {
  display: block;
}

.popover-auth-field {
  width: 100%;
}

.popover-auth-field:not(:last-child) {
  margin-bottom: 16px;
}

.popover-auth-field:last-of-type {
  margin-bottom: 32px;
}

.auth-confirm-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 23px;
}

.auth-links-wrapper {
  display: flex;
  flex-direction: column;
}

.auth-form-link {
  color: #2d3440;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.auth-form-link:hover {
  opacity: 0.6;
}

.auth-form-link:active {
  opacity: 0.3;
}

/* Корзина */
.popover-cart-open:hover .popover-cart-wrapper {
  display: block;
}

.cart-link:active ~ .popover-cart-wrapper,
.cart-link:focus-within ~ .popover-cart-wrapper {
  display: block;
}

.empty-cart {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  padding: 0;
  margin: 0;
}

.not-empty-cart {
  display: none;
}

.cart-items-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.cart-item {
  display: grid;
  grid-template-columns: 46px 150px 83px 20px;
  gap: 16px;
  align-items: center;
  position: relative;
}

.cart-item:not(:last-child) {
  margin-bottom: 15px;
}

.cart-item:last-child {
  margin-bottom: 50px;
}

.cart-item-title {
  padding: 0;
  margin: 0 0 4px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.cart-item-info {
  padding: 0;
  margin: 0;
  color: #b9b9b9;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.cart-item-price {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.delete-cart-item-button {
  width: 16px;
  height: 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.delete-cart-item-button:hover {
  opacity: 0.6;
}

.delete-cart-item-button:active {
  opacity: 0.3;
}


.cart-submit-button {
  position: relative;
  width: 200px;
}

.cart-submit-button::before {
  content: "";
  height: 1px;
  background-color: #e7e7e7;
  width: 345px;
  position: absolute;
  top: -32px;
  left: 0;
}

.cart-confirm-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.order-sum {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

/* Tooltip */
.tooltip {
  position: absolute;
  margin-top: 4px;
  margin-left: 2px;
  width: 14px;
  height: 14px;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  color: #2d3440;
  display: block;
}

.tooltip-toggle:hover .tooltip-icon {
  color: #ff2f64;
}

.tooltip-text {
  color: #565c66;
  background-color: #fcfcfc;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  padding: 10px 8px;
  border: 1px solid #b9b9b9;
  border-radius: 1px;
  width: 160px;
  box-shadow: 0 2px 12px rgba(173, 152, 143, 0.18);
  position: absolute;
  left: 20px;
  top: -15px;
  display: none;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.delivery-form-label-icon {
  position: relative;
  padding-right: 14px;
}

.tooltip-text::after {
  content: '';
  background-image: url("../images/tooltip-arrow.svg");
  width: 14px;
  height: 7px;
  position: absolute;
  left: 0;
}
